@import "../../../../variables.scss";

.socialMedia {
  display: flex;
  align-items: center;
  a {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
    &:hover svg {
      fill: $primary-cyan;
    }
  }

  svg {
    fill: white;
    transition: 0.3s;
    &:active {
      transform: scale(0.7);
    }
  }
}
