// Primary colors
$primary-cyan: hsl(180, 66%, 49%);
$primary-light-cyan: hsl(180, 87%, 49%);
$primary-darkViolet: hsl(257, 27%, 26%);

// Secondary colors
$secondary-red: hsl(0, 87%, 67%);

// Neutral
$neutral-gray: hsl(0, 0%, 75%);
$neutral-light-gray: hsl(230, 25%, 95%);
$neutral-grayishViolet: hsl(257, 7%, 63%);
$neutral-darkBlue: hsl(256, 23%, 19%);
$neutral-darkViolet: hsl(257, 58%, 13%);
$neutral-footer-bg: hsl(266, 10%, 14%);
// Typography
$fz: 18px;
$font: "Poppins", sans-serif;
